argh==0.31.3
cfgv==3.4.0
distlib==0.4.0
Django==2.1.15
filelock==3.19.1
gunicorn==20.1.0
identify==2.6.15
nodeenv==1.9.1
platformdirs==4.4.0
pre_commit==4.3.0
PyDispatcher==2.0.7
pytz==2025.2
PyYAML==6.0.3
ruff==0.14.0
tool==0.8.0
typing_extensions==4.15.0
virtualenv==20.35.3
